.sub-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-wrap: wrap;
  gap: 15px;
  overflow: hidden;
}

@media screen and (max-width: 540px) {
  .sub-container {
    flex-direction: column;
    align-items: center;
  }
}