.sub-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  /* width: 70%; */
  gap: 15px;
  overflow: hidden;
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-end;
}