h2 {
  font-size: 30px;
  text-align: center;
  color: white;
}

.subscription {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1300px;
  background-color: darkgray;
  background-color: rosybrown;
}

.tea-photo {
  height: 200px;
  flex-wrap: wrap;
}

button {
  border: none;
  height: 5em;
  width: 15em;
  cursor: pointer;
  margin-right: 1em;
}