h2 {
  /* font-size: 30px; */
  font-size: 3vh;
  text-align: center;
  color: white;
  margin: 0 2vw;
}

.subscription {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: darkgray;
  background-color: rosybrown;
  height: 35vh;
  max-width: 35vw;
  min-height: 35vh;
}

.tea-photo {
  height: 20vh;
  flex-wrap: wrap;
}

button {
  border: none;
  border-radius: 3px;
  height: 5vh;
  width: 15vh;
  cursor: pointer;
  /* padding: 3px; */
  margin: 5px; 
  font-size: 1.5vh;
}